<!-- start: FOOTER -->
<div class="footer clearfix">
    <div class="footer-inner">
        2017 &copy; @ListedeCourse by Arobase.
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>
<!-- end: FOOTER -->