<html>
<head>
    <style type="text/css" media="all">
        @page {
            size: A4 portrait; /* can use also 'landscape' for orientation */
            margin: 1.0in;
            border: thin solid black;
            padding: 1em;

            @bottom-center {
                content: element(footer);
            }

            @top-center {
                content: element(header);
            }
        }

        #page-header {
            display: block;
            position: running(header);
        }

        #page-footer {
            display: block;
            position: running(footer);
        }

        .page-number:before {
            content: counter(page);
        }

        .page-count:before {
            content: counter(pages);
        }
        h1,h2,h3,h4,h5,h6 {
            font-family: Helvetica, Arial, sans-serif;
            color: #000;
            margin-bottom: 20px;
        }
        h1 { font-size: 150%; text-align: center }

        h3 { font-size: 135%; }
        h4 { font-size: 100%; font-variant: small-caps; }
        h5 { font-size: 100%; }
        h6 { font-size: 90%; font-style: italic; }
        .content_article {
            width: 95%;
            border: 1px dashed #000000;
            display: block;
            padding: 10pt;}
        .img_coupon {
            max-width: 100%;
            display: block;

        }
        .img_coupon img {
            max-width:100%;
            height: 300px;
            display: block;
        }
    </style>
</head>

<body>
<div id="page-header">
    <h1>Ma liste des coupons</h1>
</div>


<div id="page-content">
    {% for coupon in coupons %}
        <div class="content_article">

            <div class="img_coupon"><img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('uploads/coupons/' ~ coupon.url) }}" >
            </div>
            <div class="title_coupon"><p>{{ coupon.libelle }}</p></div>
        </div>
        <p style="page-break-after:always;"/>
    {% endfor %}

</div>
</body>
</html>