
<div class="copyrights">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="copylinks">
                    <ul class="list-inline">

                    <p>@MaListeDeCourse &copy; 2017 - Create by <a href="#">Arobase</a></p>
                </div><!-- end links -->
            </div><!-- end col -->

            <div class="col-md-6 col-sm-6">
                <div class="footer-social text-right">
                    <ul class="list-inline ">
                        <li><a href="http://amhsoft.net/htitey/ListeDeCourse.apk"><i class="fa fa-android fa-lg" style="color: #a4c639"></i> Télécharger notre application</a></li>

                    </ul>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
    </div><!-- end container -->
</div><!-- end copyrights -->